<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>halal-mart inventory</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="public/css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img class="logo" src="public/img/logo.png" alt="">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          <button type="button" name="button" @click="logout()" class="button-kecil">Logout</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid" >
      <div class="row">
        <div class="col-md-5">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Harga</th>
                <th>Jumlah</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- CONTENT PLACE -->
              <tr v-for="(barang, index) in cart">
                <td>{{index+1}}</td>
                <td>{{barang.nama_barang}}</td>
                <td>{{barang.harga}}</td>
                <td>{{barang.quantity}}</td>
                <td>{{barang.quantity * barang.harga}}</td>
                <td><span class="glyphicon glyphicon-trash" @click="removeFromCart(barang, index)"></span></td>
              </tr>
              <!-- CONTENT END -->
              <tr>
                <td>Total: </td>
                <td></td>
                <td></td>
                <td>{{total}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-2">
              <button class="button-kecil" data-toggle="modal" data-target="#myModal" @click="checkoutBarang()"><span>Checkout</span></button>
                        <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" @click="reset()">&times;</button>
                      <div class="row">
                        <div class="col-md-5"> </div>
                        <div class="col-md-2"><img class="logo" src="public/img/logo.png" alt=""> </div>
                        <div class="col-md-5"> </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2"> </div>
                        <div class="col-md-8">
                          <h4 class="center">Jl. Ngalor Ngidul No 99</h4>
                          <table class="table">
                            <thead>
                              <tr>
                                <td>Jumlah</td>
                                <td>Nama</td>
                                <td>Harga</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="barang in cart">
                                <th>{{barang.quantity}}</th>
                                <th>{{barang.nama_barang}}</th>
                                <th>{{barang.harga}}</th>
                              </tr>
                            </tbody>
                          </table>
                          <h4 class="center">{{total}}</h4>
                        </div>
                        <div class="col-md-2"> </div>
                      </div>

                    </div>

                    <div class="modal-footer">
                      <h5 class="center">Terimakasih telah berbelanja di Halal-Mart.</h5>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-5">
            </div>
          </div>
        </div>
         <div class="col-md-6">
               <div class="row">
                 <div class="col-md-4" v-for="kat in kategori">
                   <button type="button" name="button" class="btn btn-info">{{kat}}</button>
                 </div>
               </div>
               <hr>
               <div class="row">
                 <div class="col-md-4">
                   <div class="input-group">
                     Search: <input type="text" v-model="search"/>
                   </div><!-- /input-group -->
                 </div>
                 <div class="col-md-4"></div>
                 <div class="col-md-4"></div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-sm-3 col-md-3" v-for="item in filteredBarang">
                    <div class="thumbnail">
                      <img :src="item.gambar" alt="...">
                      <div class="caption">
                        <h5>{{item.nama_barang}}</h5>
                        <h6>Rp. {{item.harga}}</h6>
                        <h6>Stok: {{item.stok}}</h6>
                        <button class="btn btn-success" v-if="item.stok > 0" type="button" name="button" @click="addToCart(item)">Add To Cart</button>
                        <button class="btn btn-danger" v-else type="button" name="button">Sold Out</button>
                      </div>
                    </div>
                </div>
               </div>   
         </div>
      </div>
    </div>
      
  </div>
    <div class="container-fluid">
      <footer>
      </footer>
    </div>
    <script src="public/js/kasir.js" type="text/javascript">

    </script>
  </body>
</html>
