/*
 * Specific styles of signin component
 */
/*
 * General styles
 */



body, html {
    height: 100%;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
}

.center {
  text-align: center;
}



.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.button {
  border-radius: 4px;
  background-color: rgb(104, 145, 162);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.button-kecil {
  border-radius: 4px;
  background-color: rgb(104, 145, 162);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
}

.button-kecil span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-kecil span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-kecil:hover span {
  padding-right: 25px;
}

.button-kecil:hover span:after {
  opacity: 1;
  right: 0;
}

.button-sedang {
  border-radius: 4px;
  background-color: rgb(104, 145, 162);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 150px;
  height: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
}

.button-sedang span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-sedang span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-sedang:hover span {
  padding-right: 25px;
}

.button-sedang:hover span:after {
  opacity: 1;
  right: 0;
}

.logo {
  height: 80px;
  width: 100px;
}

hr.name-of-your-vertical-line {
  border : 0;
  height : (height)px; /*your own value to suit your content*/
  width : 1px;
  background-image: -webkit-linear-gradient(top, #color1, #color2, #color3);
  background-image: -moz-linear-gradient(top, #color1, #color2, #color3);
  background-image: -ms-linear-gradient(top, #color1, #color2, #color3);
  background-image: -o-linear-gradient(top, #color1, #color2, #color3);
  background-image: linear-gradient(top, #color1, #color2, #color3);
}


.thumbnail {
  min-height: 250px;
}

.thumbnail img{
  height: 100px;
}

.bmenu li a{
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.fade-in {
    -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  /* ----------------------------------------------
   * Generated by Animista on 2017-8-4 10:45:25
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

  /**
   * ----------------------------------------
   * DOCUMENT INFORMATION
   * @file fade-in.less
   * @version 1.0
   * @author Ana Travas, @ana108
   * ----------------------------------------
   */
  /**
   * ----------------------------------------
   * animation fade-in-bck
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  /**
   * ----------------------------------------
   * animation fade-in-bl
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-bl {
    0% {
      -webkit-transform: translateX(-50px) translateY(50px);
              transform: translateX(-50px) translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bl {
    0% {
      -webkit-transform: translateX(-50px) translateY(50px);
              transform: translateX(-50px) translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  /**
   * ----------------------------------------
   * animation fade-in-bottom
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  /**
   * ----------------------------------------
   * animation fade-in-br
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-br {
    0% {
      -webkit-transform: translateX(50px) translateY(50px);
              transform: translateX(50px) translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-br {
    0% {
      -webkit-transform: translateX(50px) translateY(50px);
              transform: translateX(50px) translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  /**
   * ----------------------------------------
   * animation fade-in-fwd
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  /**
   * ----------------------------------------
   * animation fade-in-left
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  /**
   * ----------------------------------------
   * animation fade-in-right
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  /**
   * ----------------------------------------
   * animation fade-in-tl
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-tl {
    0% {
      -webkit-transform: translateX(-50px) translateY(-50px);
              transform: translateX(-50px) translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-tl {
    0% {
      -webkit-transform: translateX(-50px) translateY(-50px);
              transform: translateX(-50px) translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  /**
   * ----------------------------------------
   * animation fade-in-top
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  /**
   * ----------------------------------------
   * animation fade-in-tr
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in-tr {
    0% {
      -webkit-transform: translateX(50px) translateY(-50px);
              transform: translateX(50px) translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-tr {
    0% {
      -webkit-transform: translateX(50px) translateY(-50px);
              transform: translateX(50px) translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  /**
   * ----------------------------------------
   * animation fade-in
   * ----------------------------------------
   */
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
